* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 8rem;
    display: flex;
    justify-content: center;
}


form {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin-top: 6rem;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;

}

h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background-color: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
}


form .boton {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    margin: 16px 0;
    font-size: 16px;
}


#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 110vh;
    color: white;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("media/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}